.container {
  display: grid;
  align-self: stretch;
}

.loader {
  align-self: center;
  opacity: 0.6;
  z-index: 1100;
}

.container::before {
  content: '';
  background-color: var(--super-light-grey);
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
