.card {
  display: grid;
  grid-template-columns: [startCol] minmax(300px, 40%) [firstCol] auto [secondCol] auto [lastCol];
  grid-template-rows: [startRow] repeat(5, auto) 1fr auto auto [descriptionTitle] auto [descriptionText] auto [lastRow];
  gap: 20px
}

.coverImage {
  width: 100%;
  object-fit: contain;
  object-position: top;
  grid-column: startCol;
  grid-row: startRow/descriptionTitle;
}

.genre {
  grid-column: firstCol/lastCol;
  grid-row: startRow;
  font-size: 20px;
  line-height: 1.1;
  margin: 0;
  align-self: flex-start;
}

.title {
  grid-column: firstCol/lastCol;
  grid-row: 2;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  align-self: flex-start;
}

.author {
  grid-column: firstCol/lastCol;
  grid-row: 3;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0;
  align-self: flex-start;
}

.button {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  text-align: end;
  color: var(--light-grey);
  font-size: 20px;
}

.addToFavoritesButton {
  grid-column: firstCol/lastCol;
  grid-row: 7;
  align-self: flex-end;
}

.bookmarkIcon {
  display: inline-flex;
}

.bookmarkIcon svg {
  margin: 0;
  width: 20px;
  height: 20px;
  fill: var(--light-grey);
  align-self: center;
}

.buyButton {
  grid-column: firstCol/lastCol;
  grid-row: 8;
  align-self: flex-end;
}

.descriptionTitle {
  grid-column: startCol/lastCol;
  grid-row: descriptionTitle;
  margin: 0;
  align-self: flex-start;
}

.descriptionText {
  grid-column: startCol/lastCol;
  grid-row: descriptionText;
  width: 100%;
  border: none;
  resize: none;
  font-size: 20px;
  outline: none;
}
