.formRegion {
}

.formTitle {
  color: var(--dark-grey);
  font-weight: 500;
  padding-bottom: 30px;
}

.form {
  width: 100%;
  display: grid;
  row-gap: 20px;
}

.block {
  position: relative;
}

.blockError {
  outline: 1px solid red;
  border: 1px solid red;
}

.error {
  position: absolute;
  left: 10px;
  bottom: 5px;
}
