.menuButtonContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuButton {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 10px
}

.menuButton:disabled {
  cursor: default;
}

.loginLink {
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--dark-grey);
  transition: all .125s ease-in-out;
}

.loginLink:hover {
  box-shadow: 0 0 15px black;
  background-color: var(--dark-grey);
}

.loginLink:active {
  box-shadow: 0 0 5px var(--dark-grey);
}

@media all and (max-width: 1079px) {
  .loginLink {
    font-size: 16px;
    max-width: 300px;
  }
}
