.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top: 100px;
}

.title {
  font-weight: 700;
  margin-bottom: 70px;
}
