.formWrapper {
}

.formTitle {
  color: var(--dark-grey);
  font-weight: 500;
  padding-bottom: 30px;
}

.form {
  width: 100%;
  display: grid;
  row-gap: 20px;
}

.block {
  position: relative;
}

.error {
  border: 1px solid red;
  box-shadow: 0 0 3px red;
}
