.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  /*grid-template-columns: repeat(5, minmax(100px, 240px));*/
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

}

.listItem {
  border: 1px solid lightgray;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

@media all and (max-width: 1320px) {
  .list {
    padding: 0 20px;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (max-width: 1040px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 785px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 530px) {
  .list {
    grid-template-columns: 1fr;
  }
}
