.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 240px));
  gap: 20px;

}

.listItem {
  border: 1px solid lightgray;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
