.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 238px));
  gap: 20px;

}

.listItem {
  border: 1px solid lightgray;
  position: relative;
  overflow: hidden;
}
