.tooltip {
  cursor: pointer;
  display: grid;
  transition: bottom 0.2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -150px;
}

.isVisible {
  bottom: 0;
}

.content {
  cursor: default;
  display: grid;
  grid-template-columns: [start] auto [first] auto [second] auto [end];
  grid-template-rows: [start] auto [first] auto [second] auto [end];
  row-gap: 5px;
  align-self: end;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.85);
}

.title {
  font-size: 18px;
  font-weight: bold;
  grid-column: start/end;
  grid-row: start/first;
  color: var(--light-grey);
}

.author {
  grid-column: start/end;
  grid-row: first/second;
  color:var(--light-grey);
}

.price {
  color: var(--light-grey);
  padding: 20px 0 0;
  font-weight: bold;
  grid-column: start/first;
  grid-row: second/end;
  align-self: end;
  line-height: 1;
  font-size: 22px;
}

.bookmark {
  cursor: pointer;
  fill: var(--light-grey);
  grid-column: first/second;
  grid-row: second/end;
  align-self: end;
  justify-self: end;
  width: 22px;
}

.cartButton {
  grid-column: second/end;
  grid-row: second/end;
  justify-self: end;
  align-self: end;
  padding: 10px;
  box-sizing: border-box;
  line-height: 0;
}
