.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top: 100px;
}

.title {
  font-weight: 600;
  margin-bottom: 20px;
}

.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
}

.formError {
  position: absolute;
  left: 15px;
  top: -20px;
  bottom: 95%;
  color: red;
  font-size: 14px;
}

.fieldset {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 0 45px;
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.inputLabel {
  color: var(--grey);
  font-style: italic;
}

.input {
  border-radius: 5px;
  border: 1px solid var(--grey);
  box-sizing: border-box;
  padding: 10px 15px;
  outline: none;
  font-size: 18px;
  line-height: 1.5;
}

.input:focus {
  outline: 3px solid var(--dark-grey);
}

.inputError, .inputError:focus {
  outline: 1px solid red;
  border: 1px solid red;
}


.input::placeholder {
  font-style: italic;
  font-size: 16px;
}

.error {
  position: absolute;
  left: 0;
  top: 94px;
  color: red;
  font-size: 14px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px 0;
}

.submitButton {
  min-width: 225px;
  max-height: 45px;
  padding: 10px;
  line-height: 1;
  pointer-events: visible !important;
}

.submitButton:hover:disabled {
  cursor: not-allowed;
}

.cancelButton {
  min-width: 150px;
  max-height: 45px;
  padding: 10px;
  line-height: 1;
}

.redirect {
  letter-spacing: 0.1em;
  color: var(--grey)
}

.redirectLink {
  padding-left: 10px;
}
