.inputWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
}

.editButton {
  align-self: center;
  padding: 11px;
}

.editIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

