.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header);
  padding: 0 calc((100% - 1280px) / 2);
  box-sizing: border-box;
}
