.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--light-grey);
  padding: 0 calc((100% - 1280px) / 2);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: [logo] auto [search] 1fr [profile] minmax(150px, auto) [navLinks] auto [end];
  grid-template-rows: 1fr auto;
  column-gap: 20px;
}

.logo {
  font-weight: 900;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  align-self: center;
  color: var(--dark-grey);
  grid-column: logo;
  grid-row: 1/-1;

}
.search {
  align-self: center;
  justify-self: center;
  width: 80%;
  grid-column: search;
  grid-row: 1/-1;
}

.profile {
  align-self: center;
  justify-self: center;
  grid-column: profile;
  grid-row: 1;
}

.navLinks {
  align-self: center;
  grid-column: navLinks;
  grid-row: 1;
}

.dateToday {
  align-self: center;
  text-align: center;
  grid-column: profile/end;
  grid-row: 2;
}

