.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--light-grey);
  padding: 0 calc((100% - 1280px) / 2);
  box-sizing: border-box;
  box-shadow: 0 5px 7px var(--grey);
}

.headerContainer {
  display: grid;
  grid-template-columns: [logo] auto [search] 1fr [profile] minmax(150px, auto) [navLinks] auto [end];
  grid-template-rows: 1fr auto;
  column-gap: 30px;
  min-height: 100px;
}

.logoLink {
  grid-column: logo;
  grid-row: 1/-1;
  align-self: center;
  text-decoration: none;
}

.logo {
  font-weight: 900;
  font-family: "Helvetica Neue", "Arial", sans-serif;

  color: var(--dark-grey);
}
.search {
  align-self: center;
  justify-self: center;
  width: 95%;
  grid-column: search;
  grid-row: 1/-1;
}

.profile {
  align-self: center;
  justify-self: center;
  grid-column: profile;
  grid-row: 1;
}

.navLinks {
  align-self: center;
  grid-column: navLinks;
  grid-row: 1;
}

.dateWidget {
  grid-column: profile/end;
  grid-row: 2;
  z-index: 20;
}

.burgerMenu, .mobileSearch {
  display: grid;
  align-self: center;
  justify-self: center;
}

.burgerMenuIcon {
  width: 24px;
  height: 24px;
  transform: scale(1.7);
  padding: 2px 0 0 10px;
}

.searchIcon {
  width: 24px;
  height: 24px;
  transform: scale(1.5);
  padding: 2px 15px 0 0;
}

@media screen and (max-width: 1320px) {
  .headerContainer {
    padding: 0 20px;
    column-gap: 15px;
  }
}
