.pageContainer {
}

.pageHeader {
  display: grid;
  row-gap: 24px;
  grid-template-columns: [start] 1fr [goBackLink] auto [goHomeLink] auto [end];

  padding-bottom: 40px;
  box-sizing: border-box;
}

.pageTitle {
  font-weight: 700;
  margin: 0;
  color: var(--dark-grey);
}

.pageSubtitle {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.pageNavLink {
  text-decoration: none;
  align-self: center;
  padding-left: 15px;
  color: var(--dark-grey);
  font-weight: 600;
  font-size: 18px;
  border: none;
  outline: none;
  transition: all .125s ease-in-out;
}

.pageNavLink:hover, .pageNavLink:focus {
  border: none;
  outline: none;
  color: var(--light-grey);
}
