.toolbar {
  cursor: pointer;
  display: grid;
  transition: bottom 0.15s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -300px;
}

.toolbar:hover:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(225, 225, 225, .4);
}

.isVisible {
  bottom: 0;
}

.content {
  cursor: default;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;

  display: grid;
  grid-template-columns: [start] 1fr [middle] 1fr [end];
  grid-template-rows: [title] auto [author] auto [price] auto [actions] auto [bottom];
  column-gap: 20px;
  row-gap: 5px;
  align-self: end;
}

.title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: white;
  white-space: break-spaces;

  grid-column: start/end;
  grid-row: title;
}

.author {
  font-size: 16px;
  line-height: 18px;
  color: white;
  white-space: break-spaces;

  grid-column: start/end;
  grid-row: author;
}

.price {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: white;

  padding: 12px 0;
  grid-column: start/end;
  grid-row: price;
}

.icon {
  justify-self: center;
  align-self: end;
  cursor: pointer;
}

.icon svg {
  fill: white;
  width: 30px;
  height: 30px;
  transition: all 0.15s ease-in-out;
  margin: 0;
}

.bookmarkIcon {
  grid-column: start/middle;
  grid-row: actions;
}

.cartIcon {
  grid-column: middle/end;
  grid-row: actions;
}

.bookmarkIcon:hover svg, .cartIcon:hover svg {
  fill: var(--grey);
}

@media all and (max-width: 1040px) {
  .title {
    font-size: 16px;
  }

  .author {
    font-size: 14px;
  }

  .price {
    font-size: 18px;
  }
}

@media all and (max-width: 810px) {
  .title {
    font-size: 14px;
  }

  .author {
    font-size: 12px;
  }

  .price {
    font-size: 16px;
  }

  .icon svg {
    width: 30px;
    height: 30px;
  }
}
