.content {
  cursor: default;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}

.title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: white;
  white-space: break-spaces;
}

.author {
  font-size: 16px;
  line-height: 18px;
  color: white;
  white-space: break-spaces;
}

.price {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: white;

  padding: 10px 0 0;
}


@media all and (max-width: 1040px) {
  .title {
    font-size: 16px;
  }

  .author {
    font-size: 14px;
  }

  .price {
    font-size: 18px;
  }
}

@media all and (max-width: 810px) {
  .title {
    font-size: 14px;
  }

  .author {
    font-size: 12px;
  }

  .price {
    font-size: 16px;
  }
}
