.navLink {
  color: var(--dark-grey);
  display: grid;
  align-self: flex-end;
}

.icon svg {
  transition: all 0.15s ease-in-out;
  fill: var(--dark-grey);
}

.icon svg:hover {
  fill: var(--grey);
}
