body {
  margin: 0;
  font-family: 'Roboto', 'Arial', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  min-height: 100vh;
}

.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

:root {
  --white: #fff;
  --body: rgb(255, 255, 255, 0.5);
  --grey: rgb(135, 135, 135);
  --light-grey: rgba(225, 225, 225);
  --super-light-grey: #D3D3D3FF;
  --ultra-light-grey: rgba(246, 246, 246);
  --dark-grey: rgba(35, 35, 35, 0.82);

  --card-background: #fafafa;
  --popup-background: rgb(245, 245, 245);
  --popup-border: rgb(165, 165, 165);
  --success-background: #a2fca4;
  --success-border: #21fa26;

  --danger-background: #faabb2;
  --danger-border: #fa2133;

  --warning-background: #fcd8a2;
  --warning-border: #f8a222;

  --info-background: #95edfa;
  --info-border: #2de1fc;
}
