body {
  margin: 0;
  font-family: 'Roboto', 'Arial', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  min-height: 100vh;
}

:root {
  --white: #fff;
  --card-background: #FFFFFF;
  --body: rgb(255, 255, 255, 0.5);
  --header: rgb(225, 225, 225);
  --footer: rgb(225, 225, 225);
}
