.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top: 200px;
}

.title {
  margin: 0 auto 100px;
  color: var(--grey);
  white-space: break-spaces;
  text-align: center;
  }

.links {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.goBackButton, .goHomeButton {
  font-size: 20px;
  color: var(--grey);
  text-underline-offset: 5px;
  }

.goBackButton:hover, .goHomeButton:hover {
  color: var(--dark-grey);
}

@media all and (max-width: 1080px) {
  .links {
    width: 70%;
  }
}

@media all and (max-width: 810px) {
  .container {
    padding-top: 100px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 80px;
  }

  .goBackButton, .goHomeButton {
    font-size: 16px;
  }
}

@media all and (max-width: 530px) {
  .container {
    padding-top: 30px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .links {
    width: 90%;
  }

  .goBackButton, .goHomeButton {
    font-size: 12px;
  }
}


